*{
    font-family:"Roboto", sans-serif;
}
body {
    cursor:default;
}
#Heart1 {
    color:red;
    font-size: 30px;
}
#Heart2{
    color:red;
    font-size: 30px;
}
#Heart3{
    color:red;
    font-size: 30px;
}
#lives{
    color: rgb(163, 163, 163);
    font-size: 35px;
    padding-left: 40px;
}
.knapper {
    display: flex;
    flex-direction: row;
}
.knapp {
    display: flex;
    margin: auto;
    height: 50px;
    width: 90px;
    justify-content: center;
    align-items: center;
    font-weight: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(254, 217, 32);
    transition: background-color 0.5s ease;
    font-size: 25px;
    /* font-family: Helvetica, Arial, sans-serif; */
}
.knapp2 {
    display: flex;
    margin: auto;
    height: 50px;
    width: 90px;
    justify-content: center;
    align-items: center;
    font-weight: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(254, 217, 32);
    transition: background-color 0.5s ease;
    font-size: 25px;
}
.tiles {
    margin: 60px auto 0px;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(8, 80px);
    gap: 10px;
    max-width: 700px;
}

.tiles div{
    height: 80px;
    background-color: rgb(43, 135, 209);
    cursor: pointer;
    border-radius: 10px;
    display: flex;
}
.knapp:hover {
    background-color: white;
}

#topp {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#text {
    margin-top: 0px;
    font-size: 40px;
    color: white;
}
#p {
    font-size: 40px;
    color: rgb(163, 163, 163);
}
