body {
    margin: 0;
    background-color: rgb(43, 135, 209);
    transition: background-color 1s ease;
    cursor:default;
}

.tiles {
    margin: 10px auto 50px;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 16px;
    padding-top: 0px;   
}

.tiles div{
    height: 120px;
    background-color: rgba(0, 0, 0, 0.153);
    cursor: pointer;
    border-radius: 10px; 
    transition: transform 0.6s, background-color 0.2s ease;
}

/* klasse som aktiveres når boksene flippes. */ 
.flipped{   
    transform: rotateY(180deg);
}

.tiles div:hover{
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
       
}
/* klasse som aktiveres når en boks rister */
.shake {
    animation: shake 0.5s ease;
  }
/* ulike steder boksen er under ristignen */
  /* @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-3px); }
    50% { transform: translateX(3px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(0); }
  } */
  @keyframes shake {
    0% {
      transform: translateX(-3px);
    }
    20% {
      transform: translateX(3px);
    }
    40% {
      transform: translateX(-3px);
    }
    60% {
      transform: translateX(3px);
    }
    80% {
      transform: translateX(-3px);
    }
    100% {
      transform: translateX(0);
    }
  }

#StartKnapp {
    display: flex;
    margin: auto;
    height: 50px;
    width: 90px;
    justify-content: center;
    align-items:center;
    /* font-weight: 40px;  gjør ingen ting */
    border: none;
    border-radius: 5px;
    background-color: rgb(254, 217, 32);
    transition: background-color 0.5s ease;
    font-size: 25px;
    font-family: Helvetica, Arial, sans-serif;
}
#StartKnapp:hover{
    background-color: white;
}

#topp{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
     align-items:center; 
}

#level{
    font-size: 40px;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}
#LevelTekst{
    font-size: 35px;
    color: rgb(163, 163, 163);
    font-family: Helvetica, Arial, sans-serif;
}
#lives{
    color: rgb(163, 163, 163);
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 40px;
}

#Heart1{
    color:white;
    font-size: 30px;
}
#Heart2{
    color:white;
    font-size: 30px;
}
#Heart3{
    color:white;
    font-size: 30px;
}





/* navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-width: 400px;
}
header nav {
    display: flex;
}

header a {
    color: black;
    text-decoration: none;
    padding: 15px;
}
header a:hover {
    background-color: none;
    color: rgba(0,0,0, 0.55);
    border-radius: 10px;
}
header .topnav a {
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
}
header .topnav {
    display: flex;
    justify-content: space-between;
}

header select {
    margin-right: 10px;
    display: flex;
    border-radius: 5px;
    font-family: monospace;
    background-color: white;
    color: black;
    border-style: none;
    width: 110px;
    height: 40px;
    text-align: center;
    margin-left: auto;
}
header select:hover{
    color: rgb(0, 0, 0, 0.55);
}

