/* body {
    margin: 0;

    cursor:default;
    font-family:"Roboto", sans-serif;
} */

.tiles {
    margin: 10px auto 50px;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 16px;
    padding-top: 0px;   
}

.tiles div{
    height: 120px;
    /* background-color: rgba(0, 0, 0, 0.153);       boksene sin bakgrunnsfarge */  
    cursor: pointer;
    border-radius: 10px; 
    transition: transform 0.6s, background-color 0.2s ease;
}

/* klasse som aktiveres når boksene flippes. */ 
.flipped{   
    transform: rotateY(180deg);
}


.tiles div:hover{
    box-shadow: 0px 0px 10px rgba(255, 255, 255,0.4);
}


/* klasse som aktiveres når en boks rister */
.shake {
    animation: shake 0.5s ease;
  }
/* ulike steder boksen er under ristignen */
  /* @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-3px); }
    50% { transform: translateX(3px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(0); }
  } */
  @keyframes shake {
    0% {
      transform: translateX(-3px);
    }
    20% {
      transform: translateX(3px);
    }
    40% {
      transform: translateX(-3px);
    }
    60% {
      transform: translateX(3px);
    }
    80% {
      transform: translateX(-3px);
    }
    100% {
      transform: translateX(0);
    }
  }

#StartKnapp {
    display: flex;
    margin: auto;
    height: 50px;
    width: 90px;
    justify-content: center;
    align-items:center;
    /* font-weight: 40px;  gjør ingen ting */
    border: none;
    border-radius: 5px;
    background-color: rgb(254, 217, 32);
    transition: background-color 0.5s ease;
    font-size: 25px;
    /* font-family: Helvetica, Arial, sans-serif; */
}
#StartKnapp:hover{
    background-color: white;
}

#topp{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items:center; 
}




#level{
    font-size: 40px;
    color: white;
    /* font-family: Helvetica, Arial, sans-serif; */
}
#LevelTekst{
    font-size: 35px;
    color: rgb(163, 163, 163);
    /* font-family: Helvetica, Arial, sans-serif; */
}
#lives{
    color: rgb(163, 163, 163);
    font-size: 35px;
    /* font-family: Arial, Helvetica, sans-serif; */
    padding-left: 40px;
}
header{
    min-width: 400px;
}
#Heart1 {
    color:red;
    font-size: 30px;
}
#Heart2{
    color:red;
    font-size: 30px;
}
#Heart3{
    color:red;
    font-size: 30px;
}



/* @media(max-width:397px){
    .tiles div{
        height:90px;
        width: 90px;
       
    }

    .tiles{

    margin: 20px ;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 8px;
    padding-top: 0px;  
    max-width: 90%;
    }
    
} */

/* navbaren */  
/* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
header nav {
    display: flex;
}

header a {
    
    text-decoration: none;
    padding: 20px;
}

header .topnav a {
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
}
header .topnav {
    display: flex;
    justify-content: space-between;
}
.fa-chart-bar {
    color: black;
    font-size: 30px;
    padding: 5px 20px;
    display: none;
    cursor: pointer;
}
header select {
    margin-right: 10px;
    display: flex;
    border-radius: 5px;
    font-family: monospace; 
    
    
    border-style: none;
    width: 110px;
    height: 40px;
    text-align: center;
    margin-left: auto;
}
 */




/* @media(max-width: 600px) {
    header select {
        display: none;
    }
    header nav {
        display: none;
        flex-direction: column;
    }
    header {
        flex-direction: column;
        padding-bottom: 10px;
    }

    header .topnav {
        width: 100%;
    }

    .fa-chart-bar {
        display: flex;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    .topnav a {
        margin-right: auto;
    }
    header nav.show {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    header select.show {
        display: flex;
        text-align: center;
        border-radius: 5px;
        font-family: monospace;
        background-color: white;
        color: black;
        border-style: hidden;
        width: 100px;
        height: 40px;
        margin-left: auto;
    }
    header select:hover.show{
        color: rgb(0, 0, 0, 0.55);
    }
    .spillboks{
        flex-direction: column;
    }
}
.fa-chart-bar:hover {
    color: black;
    border-radius: 10px;
} */
