.tiles {
    margin: 10px auto 50px;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 16px;
    padding-top: 0px;   
}

.tiles div{
    height: 120px;
    cursor: pointer;
    border-radius: 10px; 
    transition: transform 0.6s, background-color 0.2s ease;
}

/* klasse som aktiveres når boksene flippes. */ 
.flipped{   
    transform: rotateY(180deg);
}


.tiles div:hover{
    box-shadow: 0px 0px 10px rgba(255, 255, 255,0.4);
}


/* klasse som aktiveres når en boks rister */
.shake {
    animation: shake 0.5s ease;
  }
  
/* ulike steder boksen er under ristignen */
  @keyframes shake {
    0% {
      transform: translateX(-3px);
    }
    20% {
      transform: translateX(3px);
    }
    40% {
      transform: translateX(-3px);
    }
    60% {
      transform: translateX(3px);
    }
    80% {
      transform: translateX(-3px);
    }
    100% {
      transform: translateX(0);
    }
  }

#StartKnapp {
    display: flex;
    margin: auto;
    height: 50px;
    width: 90px;
    justify-content: center;
    align-items:center;
    /* font-weight: 40px;  gjør ingen ting */
    border: none;
    border-radius: 5px;
    background-color: rgb(254, 217, 32);
    transition: background-color 0.5s ease;
    font-size: 25px;
    /* font-family: Helvetica, Arial, sans-serif; */
}
#StartKnapp:hover{
    background-color: white;
}

#topp{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items:center; 
}




#level{
    font-size: 40px;
    color: white;
}
#LevelTekst{
    font-size: 35px;
    color: rgb(163, 163, 163);
}
#lives{
    color: rgb(163, 163, 163);
    font-size: 35px;
    padding-left: 40px;
}
header{
    min-width: 400px;
}
#Heart1 {
    color:red;
    font-size: 30px;
}
#Heart2{
    color:red;
    font-size: 30px;
}
#Heart3{
    color:red;
    font-size: 30px;
}

