* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  font-family:"Roboto", sans-serif;
  text-align: center;

}

.reaksjon-tid-container{
  position: relative;
  line-height: 1;
}

.klikkbar {
  height: 100vh;
  width: 100%;
  cursor: pointer;
  background: limegreen;
  display: grid;
  place-items: center;
  font-size: 32px;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  color: white;
}

.slutt-skjerm,
.hovd-meny {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgb(43, 135, 209);
  color: white;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  text-align: center;
}

.hovd-meny.active,
.slutt-skjerm.active {
  display: grid;
  place-items: center;
}

.hovd-meny {
  cursor: pointer;
}

.reaksjon-tid-container .container {
  max-width: 700px;
  padding: 0 32px;
}

.hovd-meny h1 {
  font-size: 70px;
  margin: 8px 0;
}

.reaksjon-tid-container .container p {
  font-size: 20px;
  line-height: 2;
  font-weight: 800;
  margin: 0;
}


.reaksjon-tid-tekst {
  font-size: 100px;
  font-weight: 900;
}

.slutt-skjerm .spill-igjen-btn, .homeBtn, .saveScore{
  border: none;
  font-size: 20px;
  padding: 8px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 900;
  letter-spacing: 4px;
  cursor: pointer;
  color: rgb(17, 17, 17);
}

.spill-igjen-btn:hover, .homeBtn:hover, .saveScore:hover{
  background-color: white;
}

.spill-igjen-btn, .saveScore{
  background-color: rgb(254, 217, 32);
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}




@media(max-width: 343px) {
  /* Stilendringer for skjermer smalere enn 343px */
  .reaksjon-tid-container .container {
    max-width: 90%; /* Reduserer maksimal bredde for bedre visning på små skjermer */
  }

  .hovd-meny h1 {
    font-size: 50px; /* Justerer fontstørrelsen for overskriften */
  }

  .reaksjon-tid-container .container p {
    font-size: 16px; /* Justerer fontstørrelsen for paragrafer */
    
  }

  .reaksjon-tid-tekst {
    font-size: 60px; /* Justerer fontstørrelsen for reaksjonstidsteksten */
  }

  .slutt-skjerm .spill-igjen-btn, .homeBtn, .saveScore {
    font-size: 16px; /* Justerer fontstørrelsen for knapper */
  }
  
} 