body {
    margin: 0;
    background-color: rgb(43, 135, 209);
    transition: background-color 1s ease;
}

.tiles {
    margin: 10px auto 50px;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 16px;
    padding-top: 0px;   
}

.tiles div{
    height: 120px;
    background-color: rgba(0, 0, 0, 0.153);
    cursor: pointer;
    border-radius: 10px; 
    transition: background-color 0.2s ease;
}
.knapp {
    display: flex;
    margin: auto;
    height: 50px;
    width: 90px;
    justify-content: center;
    align-items: center;
    font-weight: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(254, 217, 32);
    transition: background-color 0.5s ease;
    font-size: 25px;
}
#knapp:hover {
    background-color: white;
}

#topp {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#text {
    font-size: 40px;
    color: white;
}
#p {
    font-size: 40px;
    color: rgb(163, 163, 163);
}